/* line 1, ../sass/dummy.scss */
#v1 {
  left: 10%;
  top: 10%;
}

/* line 6, ../sass/dummy.scss */
#v2 {
  left: 20%;
  top: 60%;
}

/* line 11, ../sass/dummy.scss */
#v3 {
  left: 70%;
  top: 20%;
}

/* line 16, ../sass/dummy.scss */
#v4 {
  left: 60%;
  top: 50%;
}

/* line 21, ../sass/dummy.scss */
#e1 {
  left: 40%;
  top: 30%;
}

/* line 26, ../sass/dummy.scss */
#e2 {
  left: 40%;
  top: 60%;
}

/* line 31, ../sass/dummy.scss */
#e3 {
  left: 50%;
  top: 70%;
}
