// Physical colors:
$gray0: #202020!default;
$gray1: #333333!default;
$gray2: #444444!default;
$gray3: #646464!default;
$gray4: #a0a0a0!default;
$gray5: #c8c8c8!default;
$gray6: #e0e0e0!default;
$gray7: #f9f9f9!default;

$paletteA: #c3669c!default;
$paletteB: #c2e578!default;
$paletteC: #626ca8!default;
$paletteD: #f5c680!default;


// Logical colors:
$bgColor: $gray2!default;
$graphBgColor: $gray1!default;
$gridColor: $bgColor!default;

$typeColor1: $paletteA!default;
$typeColor2: $paletteB!default;
$typeColor3: $paletteC!default;
$typeColor4: $paletteD!default;
$vertexBgColor: $paletteD!default;

$fgColorDark: $gray0!default;
$vertexBorderColor: $gray4!default;

$unHighlightColor: $gray3!default;

$nodeBorderColor: $gray5!default;
$shadowColor: $gray0!default;

$textColor: $gray6!default;
$portTextColor: $gray0!default;



// Sizes:
$nodeTitleHeight: 18px!default;
$portAnchorSize: 11px!default;
$portHeight: 16px!default;
$edgeNodeSize: 20px!default;

$graphBorderRadius: 10px!default;
$vertexBorderRadius: 5px!default;


// Font styles and sizes:
$fontFamilyLabel: "Futura", "Helvetica Neue", "Verdana", sans-serif!default;
$fontSizeLabel: 12px!default;
$fontFamilyPort: "Gill Sans", "Helvetica Neue", "Arial", sans-serif!default;
$fontSizePort: 11px!default;


@mixin nbeGraphSizes( $sizeName, $f ) {
   .nbe-zoom-#{$sizeName} {
      font-size: round( $fontSizeLabel * $f );
      border-radius: round( $graphBorderRadius * $f );

      .nbe-graph-canvas {
         background-size: round(50px * $f) round(50px * $f);
      }

      .nbe-port {
         line-height: $portHeight*$f;
         font-size: round( $fontSizePort*$f );
      }

      .nbe-port-handle {
         width: $portAnchorSize * $f;
         height: $portAnchorSize * $f;
         border-radius: 6px*$f;
         border-width: round(1px*$f);
         margin: (3px * $f) (5px * $f) (-3px * $f) (5px * $f);
      }

      .nbe-vertex-header {
         height: $nodeTitleHeight*$f;
         padding: 2px*$f 5px*$f 1px*$f 5px*$f;
         font-size: round( $fontSizeLabel * $f );
      }

      .nbe-edge-icon {
         width: $edgeNodeSize * $f;
         height: $edgeNodeSize * $f;
         border-radius: $edgeNodeSize * $f;
         box-shadow: 4px*$f 4px*$f 4px*$f $shadowColor;
      }

      .nbe-edge-label {
         width: 100px*$f;
         left: (-50px + $edgeNodeSize/2)*$f;
         text-shadow: 4px*$f 4px*$f 4px*$f $shadowColor;
         top: ($edgeNodeSize + 2px)*$f;
         font-size: round( $fontSizeLabel * $f );
      }

      .nbe-link {
         stroke-width: min(2, max(1.5, 2*$f));
      }
   }
}


@mixin nbeEdgePing( $themeName, $name, $color ) {

   $fromMiddle:   0px 0px  5px  3px $graphBgColor;
   $acrossMiddle: 0px 0px 12px  3px $graphBgColor;
   $toMiddle:     0px 0px 18px  3px $graphBgColor;

   $fromRing:     0px 0px  0px  0px transparent;
   $acrossRing:   0px 0px 16px  3px $color;
   $toRing:       0px 0px 24px  3px transparent;

   $regularShadow: 4px 4px 4px $gray0;

   @keyframes nbe-edge-ping-#{$themeName}-#{$name} {
      from { box-shadow: $fromMiddle, $fromRing, $regularShadow; }
      20% { box-shadow: $acrossMiddle, $acrossRing, $regularShadow; }
      to { box-shadow: $toMiddle, $toRing, $regularShadow; }
   }
}


/**
 * Use this to declare user-defined edge types.
 */
@mixin nbeEdgeType( $themeName, $type, $color ) {

   // This class is applied to the nbe-graph.
   .nbe-theme-#{$themeName} {

      // type-colored vertex node ports
      .nbe-type-#{$type} > .nbe-port-handle {
         background: $color;
      }

      // type-colored edge nodes
      .nbe-type-#{$type} .nbe-edge-icon {
         background: linear-gradient(to right bottom, $color, darken($color, 20%));
      }

      // creation animation
      .nbe-edge.nbe-type-#{$type}.nbe-ping .nbe-edge-icon {
         animation-name: nbe-edge-ping-#{$themeName}-#{$type};
         animation-duration: 0.3s;
         animation-iteration-count: 1;
      }

      // Colored links (svg):
      .nbe-link.nbe-type-#{$type} {
         stroke: $color;
         &.nbe-selected {
            stroke: lighten( $color, 20 );
         }
      }

      // when highlighting this edge type (e.g. on drag drop), grey out edges of other types
      &.nbe-highlight-type-#{$type} {
         .nbe-port:not(.nbe-type-#{$type}) > .nbe-port-handle,
         .nbe-edge:not(.nbe-type-#{$type}) > .nbe-edge-icon {
            background: $unHighlightColor;
         }
         .nbe-link:not(.nbe-type-#{$type}) {
            stroke: $unHighlightColor;
         }
      }

      &.nbe-hide-type-#{$type} {
         .nbe-type-#{$type} {
            display: none;
         }
      }
   }

   @include nbeEdgePing( $themeName, $type, $color );

}

