@import 'nbe_variables';

[data-ng-cloak] {
   display: none !important;
}

@mixin nbeVertexPing() {

   $fromMiddle:   0 0  5px  3px $graphBgColor;
   $acrossMiddle: 0 0 12px  3px $graphBgColor;
   $toMiddle:     0 0 18px  3px $graphBgColor;

   $fromRing:     0 0  0    0 transparent;
   $acrossRing:   0 0 16px  3px $vertexBgColor;
   $toRing:       0 0 24px  3px transparent;

   $regularShadow: 4px 4px 4px $gray0;

   @keyframes nbe-vertex-ping {
      from { box-shadow: $fromMiddle, $fromRing, $regularShadow; }
      20% { box-shadow: $acrossMiddle, $acrossRing, $regularShadow; }
      to { box-shadow: $toMiddle, $toRing, $regularShadow; }
   }
}

@include nbeVertexPing();


// The graph contains the entire NBE ui.
.nbe-graph {
   background: $graphBgColor;
   box-sizing: border-box;
   margin: 2px;

   &:focus {
      margin-top: 1px;
      margin-left: 1px;
      border: 1px dotted $paletteD;
      outline: none;
   }

   &.nbe-highlight-inbound {
      .nbe-ports.nbe-outbound .nbe-port-handle {
         background-color: $unHighlightColor;
      }
   }

   &.nbe-highlight-outbound {
      .nbe-ports.nbe-inbound .nbe-port-handle {
         background-color: $unHighlightColor;
      }
   }

   svg {
      width: 100%;
      height: 100%;
   }

}

.nbe-graph,
.nbe-graph * {
   user-select: none;
   cursor: default;
}

// These cannot be combined
.nbe-graph *::selection { background:transparent; }
.nbe-graph *::-moz-selection { background:transparent; }
.nbe-graph *::-webkit-selection { background:transparent; }

.nbe-graph-contents {
   background:
   linear-gradient(
         0deg,
         transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%,
         transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%,
         transparent),
   linear-gradient(
         90deg,
         transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%,
         transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%,
         transparent);
   width: 100%;
   height: 100%;

}

.nbe-tools {
   position: absolute;
   top: 4px;
   left: 4px;

   button {
      opacity: 0.5;
      &:hover {
         opacity: 1;
      }
   }
}

.nbe-link {
   position: absolute;
   fill: transparent;
}

// ghost elements visualize element creation and positioning through drag & drop
.nbe-ghost {
   position: absolute;
}

.nbe-edge {
   display: block;
   width: $edgeNodeSize;
   height: $edgeNodeSize*2;
}

.nbe-edge-icon {
   background: linear-gradient(135deg, $typeColor1 0%, darken($typeColor1, 20%) 100%);
}

.nbe-edge-label {
   position: relative;
   text-align: center;
   font-family: $fontFamilyLabel;
}

.nbe-edge.nbe-selected div.nbe-edge-icon,
.nbe-vertex.nbe-selected {
   box-shadow: 0 0 8px #fff, 4px 4px 4px $gray0;
}

.nbe-selection {
   border: 1px dashed rgb(244, 244, 192);
   background: rgba(244, 244, 192, 0.1);
   position: absolute;
   top: 10px;
   left: 10px;
   width: 100px;
   height: 100px;
}

.nbe-port-handle {
   background: $typeColor1;
   border: solid $gray2 1px;
   display: inline-block;
   position: relative;

   &:hover {
      border-color: $gray7;
   }
}

.nbe-node.nbe-edge > .nbe-edge-icon.nbe-drop-hover,
.nbe-vertex .nbe-drop-hover .nbe-port-handle {
   border-color: $gray7;
   box-shadow: 0 0 8px #fff, 4px 4px 4px $gray0;
}

.nbe-node.nbe-vertex .nbe-port.nbe-drop-hover {
   color: white;
   text-shadow: black 0 0 1px;
}

.nbe-vertex,
.nbe-edge-icon {
   position: absolute;
   border: solid $nodeBorderColor 1.5px;
}

.nbe-vertex {
   box-shadow: 4px 4px 6px $shadowColor;
   border-radius: $vertexBorderRadius;
   background: linear-gradient(to right bottom, $vertexBgColor, darken($vertexBgColor, 30%));

   // creation animation
   &.nbe-ping {
      animation-name: nbe-vertex-ping;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
   }
}


.nbe-vertex-header {
   border-radius: $vertexBorderRadius $vertexBorderRadius 0 0;
   text-align: center;
   background: rgba(0, 0, 0, 0.15);
   font-family: $fontFamilyLabel;
   text-shadow: 1px 1px 0.5px $gray2;
}

.nbe-port-group {
   background: rgba(0, 0, 0, 0.05);
   border-top: solid $nodeBorderColor 1px;

   // Flex container:
   display: -webkit-flex;
   -webkit-flex-direction: row;
   -webkit-align-items: flex-start;
}

.nbe-ports {
   // Flex item:
   flex: 0 1 auto;

   // Flex container:
   display: flex;
   flex-flow: column;
   justify-content: space-between;
}


.nbe-inbound {
   border-right: 1px solid $gray4;
   align-items: flex-start;

   .nbe-port {
      text-align: left;
      padding-right: 9px;
   }
}

.nbe-outbound {
   align-items: flex-end;

   .nbe-port {
      text-align: right;
      padding-left: 9px;
   }
}

.nbe-port {
   flex: 0 1 auto;
   padding-top: 0;
   color: $portTextColor;
   font-family: $fontFamilyPort;
   text-shadow: 0 0 2px $gray7;
   white-space: nowrap;
}
