// Physical colors:
$gray0: #202020!default;
$gray1: #333333!default;
$gray2: #444444!default;
$gray3: #646464!default;
$gray4: #a0a0a0!default;
$gray5: #c8c8c8!default;
$gray6: #e0e0e0!default;
$gray7: #f9f9f9!default;

$paletteA: #c3669c!default;
$paletteB: #c2e578!default;
$paletteC: #626ca8!default;
$paletteD: #f5c680!default;


// Logical colors:
$bgColor: $gray2!default;
$graphBgColor: $gray1!default;
$gridColor: $bgColor!default;

$typeColor1: $paletteA!default;
$typeColor2: $paletteB!default;
$typeColor3: $paletteC!default;
$typeColor4: $paletteD!default;
$vertexBgColor: $paletteD!default;
$interfaceBgColor: $paletteB!default;

$fgColorDark: $gray0!default;
$vertexBorderColor: $gray4!default;

$unHighlightColor: $gray3!default;

$nodeBorderColor: $gray5!default;
$nodeShadowColor: $gray0!default;

$textColor: $gray6!default;
$portTextColor: $gray0!default;


// Sizes:
$nodeTitleHeight: 18px!default;
$portAnchorSize: 11px!default;
$portHeight: 16px!default;
$edgeNodeSize: 20px!default;

$graphBorderRadius: 10px!default;
$vertexBorderRadius: 5px!default;


// Font styles and sizes:
$fontFamilyLabel: "Futura", "Helvetica Neue", "Verdana", sans-serif!default;
$fontSizeLabel: 12px!default;
$fontFamilyPort: "Gill Sans", "Helvetica Neue", "Arial", sans-serif!default;
$fontSizePort: 11px!default;

@mixin edgePing( $themeName, $name, $color ) {

   $fromMiddle:   0px 0px  5px  3px $graphBgColor;
   $acrossMiddle: 0px 0px 12px  3px $graphBgColor;
   $toMiddle:     0px 0px 18px  3px $graphBgColor;

   $fromRing:     0px 0px  0px  0px transparent;
   $acrossRing:   0px 0px 16px  3px $color;
   $toRing:       0px 0px 24px  3px transparent;

   $regularShadow: 4px 4px 4px $gray0;

   @keyframes edge-ping-#{$themeName}-#{$name} {
      from { box-shadow: $fromMiddle, $fromRing, $regularShadow; }
      20% { box-shadow: $acrossMiddle, $acrossRing, $regularShadow; }
      to { box-shadow: $toMiddle, $toRing, $regularShadow; }
   }

   @-webkit-keyframes edge-ping-#{$themeName}-#{$name} {
      from { box-shadow: $fromMiddle, $fromRing, $regularShadow; }
      20% { box-shadow: $acrossMiddle, $acrossRing, $regularShadow; }
      to { box-shadow: $toMiddle, $toRing, $regularShadow; }
   }
}

/**
 * Use this to declare user-defined edge types.
 */
@mixin edgeType( $themeName, $name, $color ) {

   .graph.#{$themeName} {
      // Colored vertex node ports:
      .port.#{$name} > i {
         background: $color;
      }

      // Colored edge nodes:
      .node.edge.#{$name} {
         background: -moz-linear-gradient(left top, $color 0%, darken($color, 20%) 100%);
         background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $color), color-stop(100%, darken($color, 30%)));
      }

      // Creation animation
      .node.edge.#{$name}.ping {
         animation-name: edge-ping-#{$themeName}-#{$name};
         animation-duration: 0.3s;
         animation-iteration-count: 1;
         -webkit-animation-name: edge-ping-#{$themeName}-#{$name};
         -webkit-animation-duration: 0.4s;
         -webkit-animation-iteration-count: 1;
      }

      // Colored links (svg):
      .link.#{$name} {
         stroke: $color;
         &.selected {
            stroke: lighten( $color, 20 );
         }
      }

      // When highlightin this edge type (e.g. on drag drop), grey out edges of other types:
      &.highlight-#{$name} {
         .port:not(.#{$name}) > i,
         .node.edge:not(.#{$name}) {
            background: $unHighlightColor;
         }
         .link:not(.#{$name}) {
            stroke: $unHighlightColor;
         }
      }


      &.hide-#{$name} {
         .link.#{$name} {
            display: none;
         }
         .port.#{$name} {
            display: none;
         }
         .edge.#{$name} {
            display: none;
         }
      }
   }

   @include edgePing( $themeName, $name, $color );

}
