#v1 {
  left: 10%;
  top: 10%;
}

#v2 {
  left: 20%;
  top: 60%;
}

#v3 {
  left: 70%;
  top: 20%;
}

#v4 {
  left: 60%;
  top: 50%;
}

#e1 {
  left: 40%;
  top: 30%;
}

#e2 {
  left: 40%;
  top: 60%;
}

#e3 {
  left: 50%;
  top: 70%;
}

