@import "compass/css3";

// Physical colors:

$gray0: #202020;
$gray1: #333333;
$gray2: #444444;
$gray3: #646464;
$gray4: #a0a0a0;
$gray5: #c8c8c8;
$gray6: #e0e0e0;
$gray7: #f9f9f9;

$paletteA: #c3669c;
$paletteB: #c2e578;
$paletteC: #626ca8;
$paletteD: #f5c680;

// Semantic colors:

$bgColor: $gray2;
$graphBgColor: $gray1;
$gridColor: $bgColor;

$edgeBgColor1: $paletteA;
$edgeBgColor2: $paletteB;
$edgeBgColor3: $paletteC;
$vertexBgColor: $paletteD;

$fgColorDark: $gray0;
$vertexBorderColor: $gray4;

$nodeBorderColor: $gray5;
$nodeShadowColor: $gray0;

$textColor: $gray6;
$portTextColor: $gray0;

// Sizes:
$nodeTitleHeight: 18px;
$portAnchorSize: 12px;
$portHeight: 16px;

body {
   background: $bgColor;
}



.graph {

   .links {
      width: 100%;
      height: 100%;
      background:
         linear-gradient(
               0deg,
               transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%,
               transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%,
               transparent),
         linear-gradient(
               90deg,
               transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%,
               transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%,
               transparent);
      background-size: 50px 50px;
   }

   .port {
      i {
         width: $portAnchorSize;
         height: $portAnchorSize;
         background: $edgeBgColor1;
         border: solid $gray2 1px;
         border-radius: $portAnchorSize/2;
         margin: 3px 5px -1px 5px;
         display: inline-block;
         position: relative;
      }
      i:hover {
         opacity: 0.5;
      }
   }


   background: $graphBgColor;
   border-radius: 10px;
   position: absolute;
   top: 20px;
   left: 20px;
   right: 20px;
   bottom: 20px;

   font-family: "Lucida Grande";
   color: $textColor;

   * {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      cursor: default;
   }

   .node {
      position: absolute;
      border: solid $nodeBorderColor 1.5px;

      &.vertex {
         box-shadow: 4px 4px 6px $nodeShadowColor;

         border-radius: 10px;
         background: -moz-linear-gradient(left top,
            $vertexBgColor 0%, darken($vertexBgColor, 30%) 100%);
         background: -webkit-gradient(linear, left top, right bottom,
            color-stop(0%, $vertexBgColor), color-stop(100%, darken($vertexBgColor, 30%)));

         .header {
            border-radius: 10px 10px 0px 0px;
            height: $nodeTitleHeight;
            text-align: center;
            background: rgba(0, 0, 0, 0.15);
            font-weight: bold;
            padding: 1px 5px 1px 5px;
            font-size: 11px;
            text-shadow: 1px 1px 0.5px $gray2;
         }

         .port-group {

            background: rgba(0, 0, 0, 0.05);

            // Flex container:
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-align-items: flex-start;

            .ports {
               // Flex item:
               -webkit-flex: 0 1 auto;

               // Flex container:
               display: -webkit-flex;
               -webkit-flex-flow: column;
               -webkit-justify-content: stretch;

               .port {
                  -webkit-flex: 0 1 auto;

                  // vertical-align: top;
                  line-height: $portHeight;
                  color: $portTextColor;
                  font-size: 10px;
                  text-shadow: 0 0 2px $gray7;

                  i {

                  }
               }

               .port {
                  white-space: nowrap;
               }

               &.in {
                  border-right: 1px solid $gray4;
                  -webkit-align-items: flex-start;
                  .port { text-align: left; padding-right: 10px; }
               }

               &.out {
                  -webkit-align-items: flex-end;
                  .port { text-align: right; padding-left: 10px; }
               }
            }

            border-top: solid $nodeBorderColor 1px;
         }

      }

      // Default edge-node style;
      &.edge {
         width: 30px;
         height: 30px;
         background: linear-gradient(135deg, $edgeBgColor1 0%, darken($edgeBgColor1, 20%) 100%);
         border-radius: 30px;
         box-shadow: 4px 4px 4px $gray0;
      }

   }

   .GHOST {
      position: absolute;
   }

   .links {
      .link {
         position: absolute;
         stroke-width: 2;
         stroke: $edgeBgColor1;
         fill: transparent;
      }
   }
}


// Ghost entries (for ui-handles during active drag operations):
.graph {

   // Ghosts are made visible on user interaction
   .GHOST {
      // display: none;
   }

   .link.edge.GHOST {
      // color: greenyellow;
   }

}


// API User Theme:

.graph {

   .node.vertex > .port-group > .ports > .port.FLAG > i {
      // use default
   }

   .node.vertex > .port-group > .ports > .port.ACTION > i {
      background: $edgeBgColor2;
   }

   .node.vertex > .port-group > .ports > .port.RESOURCE > i {
      background: $edgeBgColor3;
   }

   .node.edge.FLAG {
      // use default
   }

   .node.edge.ACTION {
      background: -moz-linear-gradient(left top,
         $edgeBgColor2 0%, darken($edgeBgColor2, 20%) 100%);
      background: -webkit-gradient(linear, left top, right bottom,
         color-stop(0%, $edgeBgColor2), color-stop(100%, darken($edgeBgColor2, 30%)));
   }

   .node.edge.RESOURCE {
      background: -moz-linear-gradient(left top,
         $edgeBgColor3 0%, darken($edgeBgColor3, 20%) 100%);
      background: -webkit-gradient(linear, left top, right bottom,
         color-stop(0%, $edgeBgColor3), color-stop(100%, darken($edgeBgColor3, 30%)));
   }

   .link.FLAG {
      // use default
   }

   .link.ACTION {
      stroke: $edgeBgColor2;
   }

   .link.RESOURCE {
      stroke: $edgeBgColor3;
   }


   .port.FLAG {
      // use default
   }

   .port.ACTION i {
      background: $edgeBgColor2;
   }

   .port.RESOURCE i {
      background: $edgeBgColor3;
   }
}