@import "compass/css3";

// Physical colors:

$gray0: #202020;
$gray1: #333333;
$gray2: #444444;
$gray3: #646464;
$gray4: #a0a0a0;
$gray5: #c8c8c8;
$gray6: #e0e0e0;
$gray7: #f9f9f9;

$paletteA: #c3669c;
$paletteB: #c2e578;
$paletteC: #626ca8;
$paletteD: #f5c680;


// Semantic colors:

$bgColor: $gray2;
$graphBgColor: $gray1;

$edgeBgColor1: $paletteA;
$edgeBgColor2: $paletteB;
$edgeBgColor3: $paletteC;
$vertexBgColor: $paletteD;

$fgColorDark: $gray0;
$vertexBorderColor: $gray4;

$nodeBorderColor: $gray5;
$nodeShadowColor: $gray0;

$textColor: $gray6;
$portTextColor: $gray0;

// Sizes:
$nodeTitleHeight: 18px;
$portAnchorSize: 12px;
$portHeight: 20px;

body {
  background: $bgColor;
}

.graph {

  .links {
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
          0deg,
          transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%,
          transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%,
          transparent),
      linear-gradient(
          90deg,
          transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%,
          transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%,
          transparent);
    background-size: 50px 50px;
  }

  background: $graphBgColor;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;

  font-family: "Lucida Grande";
  font-size: 12px;
  color: $textColor;
  text-shadow: 1px 1px $gray3;

  * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
  }

  .node {
    position: absolute;
    border: solid $nodeBorderColor 1.5px;

    &.vertex {
      width: 180px;
      box-shadow: 4px 4px 6px $nodeShadowColor;

      border-radius: 10px;
      background: -moz-linear-gradient(left top, $vertexBgColor 0%, darken($vertexBgColor, 30%) 100%);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $vertexBgColor), color-stop(100%, darken($vertexBgColor, 30%)));

      .header {
        border-radius: 10px 10px 0px 0px;
        height: $nodeTitleHeight;
        text-align: center;
        background: rgba(0, 0, 0, 0.15);
        font-weight: bold;
      }

      .port-group {
        .ports {
          min-width: 49%;
          display: block;
          top: $nodeTitleHeight + 1px;

          .port {
            vertical-align: top;
            padding-bottom: 2px;
            background: rgba(0, 0, 0, 0.05);
            line-height: $portHeight;
            color: $portTextColor;
            i {
              position: relative;
              display: inline-block;
              width: $portAnchorSize;
              height: $portAnchorSize;
              background: $edgeBgColor1;
              margin: 7px 5px -2px 5px;
              border: solid $gray0 1px;
              border-radius: $portAnchorSize/2;
            }
            i:hover { opacity: 0.5; }
          }

          &.in {
            float: left;
            .port { text-align: left; }
          }

          &.out {
            .port { text-align: right; }
          }
        }

        border-top: solid $nodeBorderColor 1px;
      }

    }

    // Default edge style;
    &.edge {
      width: 30px;
      height: 30px;

      background: linear-gradient(135deg, $edgeBgColor1 0%, darken($edgeBgColor1, 20%) 100%);

      border-radius: 30px;
      box-shadow: 4px 4px 4px $gray0;
    }

  }

  .links {

    .link {
      position: absolute;

      stroke-width: 2;
      stroke: $edgeBgColor1;
      fill: transparent;
    }
  }
}


// API User Theme:

.node.edge.FLAG { }

.node.edge.ACTION {
  background: -moz-linear-gradient(left top, $edgeBgColor2 0%, darken($edgeBgColor2, 20%) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $edgeBgColor2), color-stop(100%, darken($edgeBgColor2, 30%)));
}

.node.edge.RESOURCE {
  background: -moz-linear-gradient(left top, $edgeBgColor3 0%, darken($edgeBgColor3, 20%) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $edgeBgColor3), color-stop(100%, darken($edgeBgColor3, 30%)));
}


.link.edge.FLAG {  }

.link.edge.ACTION { stroke: $edgeBgColor2; }

.link.edge.RESOURCE { stroke: $edgeBgColor3; }