/**
 * Use this to declare user-defined edge types.
 */
/* line 88, ../../../scss/_nbe_variables.scss */
.graph.logic-app .port.WIRE > i {
  background: #c3669c;
}
/* line 93, ../../../scss/_nbe_variables.scss */
.graph.logic-app .node.edge.WIRE {
  background: -moz-linear-gradient(left top, #c3669c 0%, #8c3768 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c3669c), color-stop(100%, #67294d));
}
/* line 99, ../../../scss/_nbe_variables.scss */
.graph.logic-app .node.edge.WIRE.ping {
  animation-name: edge-ping-logic-app-WIRE;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  -webkit-animation-name: edge-ping-logic-app-WIRE;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
}
/* line 109, ../../../scss/_nbe_variables.scss */
.graph.logic-app .link.WIRE {
  stroke: #c3669c;
}
/* line 111, ../../../scss/_nbe_variables.scss */
.graph.logic-app .link.WIRE.selected {
  stroke: #e0afcb;
}
/* line 119, ../../../scss/_nbe_variables.scss */
.graph.logic-app.highlight-WIRE .port:not(.WIRE) > i,
.graph.logic-app.highlight-WIRE .node.edge:not(.WIRE) {
  background: #646464;
}
/* line 122, ../../../scss/_nbe_variables.scss */
.graph.logic-app.highlight-WIRE .link:not(.WIRE) {
  stroke: #646464;
}
/* line 129, ../../../scss/_nbe_variables.scss */
.graph.logic-app.hide-WIRE .link.WIRE {
  display: none;
}
/* line 132, ../../../scss/_nbe_variables.scss */
.graph.logic-app.hide-WIRE .port.WIRE {
  display: none;
}
/* line 135, ../../../scss/_nbe_variables.scss */
.graph.logic-app.hide-WIRE .edge.WIRE {
  display: none;
}

@keyframes edge-ping-logic-app-WIRE {
  /* line 69, ../../../scss/_nbe_variables.scss */
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  /* line 70, ../../../scss/_nbe_variables.scss */
  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #c3669c, 4px 4px 4px #202020;
  }

  /* line 71, ../../../scss/_nbe_variables.scss */
  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

@-webkit-keyframes edge-ping-logic-app-WIRE {
  /* line 75, ../../../scss/_nbe_variables.scss */
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  /* line 76, ../../../scss/_nbe_variables.scss */
  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #c3669c, 4px 4px 4px #202020;
  }

  /* line 77, ../../../scss/_nbe_variables.scss */
  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

/* line 88, ../../../scss/_nbe_variables.scss */
.graph.logic-app .port.CHANNEL > i {
  background: #f5c680;
}
/* line 93, ../../../scss/_nbe_variables.scss */
.graph.logic-app .node.edge.CHANNEL {
  background: -moz-linear-gradient(left top, #f5c680 0%, #ee9c21 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f5c680), color-stop(100%, #cc8010));
}
/* line 99, ../../../scss/_nbe_variables.scss */
.graph.logic-app .node.edge.CHANNEL.ping {
  animation-name: edge-ping-logic-app-CHANNEL;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  -webkit-animation-name: edge-ping-logic-app-CHANNEL;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
}
/* line 109, ../../../scss/_nbe_variables.scss */
.graph.logic-app .link.CHANNEL {
  stroke: #f5c680;
}
/* line 111, ../../../scss/_nbe_variables.scss */
.graph.logic-app .link.CHANNEL.selected {
  stroke: #fcf0df;
}
/* line 119, ../../../scss/_nbe_variables.scss */
.graph.logic-app.highlight-CHANNEL .port:not(.CHANNEL) > i,
.graph.logic-app.highlight-CHANNEL .node.edge:not(.CHANNEL) {
  background: #646464;
}
/* line 122, ../../../scss/_nbe_variables.scss */
.graph.logic-app.highlight-CHANNEL .link:not(.CHANNEL) {
  stroke: #646464;
}
/* line 129, ../../../scss/_nbe_variables.scss */
.graph.logic-app.hide-CHANNEL .link.CHANNEL {
  display: none;
}
/* line 132, ../../../scss/_nbe_variables.scss */
.graph.logic-app.hide-CHANNEL .port.CHANNEL {
  display: none;
}
/* line 135, ../../../scss/_nbe_variables.scss */
.graph.logic-app.hide-CHANNEL .edge.CHANNEL {
  display: none;
}

@keyframes edge-ping-logic-app-CHANNEL {
  /* line 69, ../../../scss/_nbe_variables.scss */
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  /* line 70, ../../../scss/_nbe_variables.scss */
  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #f5c680, 4px 4px 4px #202020;
  }

  /* line 71, ../../../scss/_nbe_variables.scss */
  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

@-webkit-keyframes edge-ping-logic-app-CHANNEL {
  /* line 75, ../../../scss/_nbe_variables.scss */
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  /* line 76, ../../../scss/_nbe_variables.scss */
  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #f5c680, 4px 4px 4px #202020;
  }

  /* line 77, ../../../scss/_nbe_variables.scss */
  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

/* line 7, ../scss/nbe_ffmpeg.scss */
.logic-app .log {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px;
  width: 200px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
}
/* line 17, ../scss/nbe_ffmpeg.scss */
.logic-app .log h4 {
  margin: 8px;
}
/* line 20, ../scss/nbe_ffmpeg.scss */
.logic-app .log ul {
  margin: 0;
  font-size: 11px;
}

/* line 31, ../scss/nbe_ffmpeg.scss */
h2 {
  font-family: "Futura", "Helvetica Neue", "Verdana", sans-serif;
  color: #c8c8c8;
}
