/**
 * Use this to declare user-defined edge types.
 */
.graph.logic-app .port.WIRE > i {
  background: #c3669c;
}
.graph.logic-app .node.edge.WIRE {
  background: -moz-linear-gradient(left top, #c3669c 0%, #8c3768 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c3669c), color-stop(100%, #67294d));
}
.graph.logic-app .node.edge.WIRE.ping {
  animation-name: edge-ping-logic-app-WIRE;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  -webkit-animation-name: edge-ping-logic-app-WIRE;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
}
.graph.logic-app .link.WIRE {
  stroke: #c3669c;
}
.graph.logic-app .link.WIRE.selected {
  stroke: #e0afcb;
}
.graph.logic-app.highlight-WIRE .port:not(.WIRE) > i,
.graph.logic-app.highlight-WIRE .node.edge:not(.WIRE) {
  background: #646464;
}
.graph.logic-app.highlight-WIRE .link:not(.WIRE) {
  stroke: #646464;
}
.graph.logic-app.hide-WIRE .link.WIRE {
  display: none;
}
.graph.logic-app.hide-WIRE .port.WIRE {
  display: none;
}
.graph.logic-app.hide-WIRE .edge.WIRE {
  display: none;
}

@keyframes edge-ping-logic-app-WIRE {
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #c3669c, 4px 4px 4px #202020;
  }

  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

@-webkit-keyframes edge-ping-logic-app-WIRE {
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #c3669c, 4px 4px 4px #202020;
  }

  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

.graph.logic-app .port.CHANNEL > i {
  background: #f5c680;
}
.graph.logic-app .node.edge.CHANNEL {
  background: -moz-linear-gradient(left top, #f5c680 0%, #ee9c21 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f5c680), color-stop(100%, #cc8010));
}
.graph.logic-app .node.edge.CHANNEL.ping {
  animation-name: edge-ping-logic-app-CHANNEL;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  -webkit-animation-name: edge-ping-logic-app-CHANNEL;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
}
.graph.logic-app .link.CHANNEL {
  stroke: #f5c680;
}
.graph.logic-app .link.CHANNEL.selected {
  stroke: #fcf0df;
}
.graph.logic-app.highlight-CHANNEL .port:not(.CHANNEL) > i,
.graph.logic-app.highlight-CHANNEL .node.edge:not(.CHANNEL) {
  background: #646464;
}
.graph.logic-app.highlight-CHANNEL .link:not(.CHANNEL) {
  stroke: #646464;
}
.graph.logic-app.hide-CHANNEL .link.CHANNEL {
  display: none;
}
.graph.logic-app.hide-CHANNEL .port.CHANNEL {
  display: none;
}
.graph.logic-app.hide-CHANNEL .edge.CHANNEL {
  display: none;
}

@keyframes edge-ping-logic-app-CHANNEL {
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #f5c680, 4px 4px 4px #202020;
  }

  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

@-webkit-keyframes edge-ping-logic-app-CHANNEL {
  from {
    box-shadow: 0px 0px 5px 3px #333333, 0px 0px 0px 0px transparent, 4px 4px 4px #202020;
  }

  20% {
    box-shadow: 0px 0px 12px 3px #333333, 0px 0px 16px 3px #f5c680, 4px 4px 4px #202020;
  }

  to {
    box-shadow: 0px 0px 18px 3px #333333, 0px 0px 24px 3px transparent, 4px 4px 4px #202020;
  }
}

.graph.zoom-100 {
  font-size: 12px;
  border-radius: 10px;
}
.graph.zoom-100 .graph-contents {
  background-size: 50px 50px;
}
.graph.zoom-100 .port {
  line-height: 16px;
  font-size: 11px;
}
.graph.zoom-100 .port i {
  width: 11px;
  height: 11px;
  border-radius: 6px;
  border-width: 1px;
  margin: 3px 5px -3px 5px;
}
.graph.zoom-100 header {
  height: 18px;
  padding: 2px 5px 1px 5px;
  font-size: 12px;
}
.graph.zoom-100 .edge {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #202020;
}
.graph.zoom-100 .edge label {
  width: 100px;
  left: -40px;
  text-shadow: 4px 4px 4px #202020;
  top: 22px;
  font-size: 12px;
}
.graph.zoom-100 .link {
  stroke-width: 2;
}

.graph.zoom-75 {
  font-size: 9px;
  border-radius: 8px;
}
.graph.zoom-75 .graph-contents {
  background-size: 38px 38px;
}
.graph.zoom-75 .port {
  line-height: 12px;
  font-size: 8px;
}
.graph.zoom-75 .port i {
  width: 8.25px;
  height: 8.25px;
  border-radius: 4.5px;
  border-width: 1px;
  margin: 2.25px 3.75px -2.25px 3.75px;
}
.graph.zoom-75 header {
  height: 13.5px;
  padding: 1.5px 3.75px 0.75px 3.75px;
  font-size: 9px;
}
.graph.zoom-75 .edge {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #202020;
}
.graph.zoom-75 .edge label {
  width: 75px;
  left: -30px;
  text-shadow: 3px 3px 3px #202020;
  top: 16.5px;
  font-size: 9px;
}
.graph.zoom-75 .link {
  stroke-width: 1.5;
}

.graph.zoom-50 {
  font-size: 6px;
  border-radius: 5px;
}
.graph.zoom-50 .graph-contents {
  background-size: 25px 25px;
}
.graph.zoom-50 .port {
  line-height: 8px;
  font-size: 6px;
}
.graph.zoom-50 .port i {
  width: 5.5px;
  height: 5.5px;
  border-radius: 3px;
  border-width: 1px;
  margin: 1.5px 2.5px -1.5px 2.5px;
}
.graph.zoom-50 header {
  height: 9px;
  padding: 1px 2.5px 0.5px 2.5px;
  font-size: 6px;
}
.graph.zoom-50 .edge {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #202020;
}
.graph.zoom-50 .edge label {
  width: 50px;
  left: -20px;
  text-shadow: 2px 2px 2px #202020;
  top: 11px;
  font-size: 6px;
}
.graph.zoom-50 .link {
  stroke-width: 1.5;
}

.graph.zoom-25 {
  font-size: 3px;
  border-radius: 3px;
}
.graph.zoom-25 .graph-contents {
  background-size: 13px 13px;
}
.graph.zoom-25 .port {
  line-height: 4px;
  font-size: 3px;
}
.graph.zoom-25 .port i {
  width: 2.75px;
  height: 2.75px;
  border-radius: 1.5px;
  border-width: 0px;
  margin: 0.75px 1.25px -0.75px 1.25px;
}
.graph.zoom-25 header {
  height: 4.5px;
  padding: 0.5px 1.25px 0.25px 1.25px;
  font-size: 3px;
}
.graph.zoom-25 .edge {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #202020;
}
.graph.zoom-25 .edge label {
  width: 25px;
  left: -10px;
  text-shadow: 1px 1px 1px #202020;
  top: 5.5px;
  font-size: 3px;
}
.graph.zoom-25 .link {
  stroke-width: 1.5;
}

.logic-app .log {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px;
  width: 200px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
}
.logic-app .log h4 {
  margin: 8px;
}
.logic-app .log ul {
  margin: 0;
  font-size: 11px;
}
.logic-app .node.vertex.monitoring {
  background: #a0a0a0;
}
.logic-app .node.vertex.interface {
  background: #bfdd80;
}
.logic-app .node.vertex.component {
  background: #6e759c;
}

h2, h3 {
  font-family: "Futura", "Helvetica Neue", "Verdana", sans-serif;
  line-height: 36px;
  margin-top: 36px;
  margin-bottom: 18px;
  color: #444444;
  padding-left: 32px;
  margin-left: -32px;
}

h2 {
  background: #f5c680;
  font-size: 36px;
}

h3 {
  background: #666;
  font-size: 24px;
}

button {
  border: solid 1px black;
  border-radius: 2px;
}

button:focus {
  outline: 1px dotted #666;
}
