<!doctype html>
<html>
  <head>
    <title>NBE Demo</title>
    <meta charset="UTF-8">
    <link href="css/demo/nbe_laxar.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="css/demo/nbe_logic.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="css/demo/demo.css" media="screen, projection" rel="stylesheet" type="text/css">
  </head>
  <body>

  <h2>Logic Circuit Demo</h2>
  <div style="overflow: auto; position: relative; width: 1200px; height: 500px;"
       data-ng-controller="LogicDemoController"
       data-ng-cloak
       class="graph-container logic-app">
     <div class="log">
        <h4>Simulation Log</h4>
        <ul><li data-ng-repeat="msg in messages track by $index">{{ msg }}</li></ul>
     </div>

     <div class="logic-app"
          data-nbe-graph="circuit"
          data-nbe-graph-types="{ WIRE: { maxSources: 1 }, CHANNEL: {} }"
          data-nbe-graph-layout="layout"
          data-nbe-graph-controller="nbeController">
        <button data-ng-click="nbeController.calculateLayout()">Auto Layout</button>
        <button data-ng-click="run()">Run Simulation</button>
        Add Gate:
        <button data-ng-click="addGate( 'AND' )">AND</button>
        <button data-ng-click="addGate( 'OR' )">OR</button>
        <button data-ng-click="addGate( 'NOT' )">NOT</button>
        <button data-ng-click="addGate( 'TRUE' )">TRUE</button>
        <button data-ng-click="addGate( 'FALSE' )">FALSE</button>
        Add Interface:
        <button data-ng-click="addGate( 'LOG' )">LOG</button>
        <button data-ng-click="addGate( 'PROBE' )">PROBE</button>
     </div>
  </div>

  <h2>Reactive App Mockup Demo</h2>
  <div style="overflow: auto; position: relative; width: 1200px; height: 500px;"
       data-ng-controller="LaxarDemoController"
       data-ng-cloak
       class="graph-container">
     <div class="laxar-app"
          data-nbe-graph="model"
          data-nbe-graph-types="types"
          data-nbe-graph-layout="layout"
          data-nbe-graph-controller="nbeController">
        <button data-ng-click="nbeController.calculateLayout()">Auto Layout</button>
        <label data-ng-repeat="(typeName, type) in types">
           <input type="checkbox"
                  data-ng-model="type.hidden"
                  data-ng-checked="!type.hidden"
                  data-ng-true-value="" data-ng-false-value="true" />{{ type.label }}</label>
     </div>
  </div>

  <script type="text/javascript" src="bower_components/requirejs/require.js"
          data-main="js/start.js"></script>
  <script type="text/javascript" src="require_config.js"></script>

  </body>
</html>
