<!doctype html>
<html>
  <head>
    <title>NBE</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body>

  <!-- Template for the node based editor -->
  <div data-ng-controller="GraphWidget">
     <section class="graph" data-nbe-graph>

        <div data-ng-repeat="(vertexId, vertex) in model.vertices"
             data-ng-style="layout.vertices[ vertexId ]"
             data-nbe-vertex="{{ vertexId }}"
             class="node vertex">
           <div class="header">{{ vertex.label }}</div>
           <div class="port-group">
              <div class="ports in">
                 <div data-ng-class="port.type"
                      data-ng-repeat="(portId, port) in vertex.ports.in"
                      data-nbe-port="{{ portId }}"
                      data-nbe-port-group="in"
                      class="port"><i></i>{{ port.label }}
                 </div>
              </div>
              <div class="ports out">
                 <div data-ng-class="port.type"
                      data-ng-repeat="(portId, port) in vertex.ports.out"
                      data-nbe-port="{{ portId }}"
                      data-nbe-port-group="out"
                      class="port">{{ port.label }}<i></i></div>
              </div>
           </div>
        </div>

        <!--
        <div clas="node vertex GHOST">
           <div class="header">New {{ ghost.vertex.label }}</div>
        </div>
        -->

        <div class="port GHOST" style="display: none;"><i></i></div>

        <div data-ng-repeat="(edgeId, edge) in model.edges"
             class="node edge"
             data-ng-class="edge.type"
             data-nbe-edge="{{ edgeId }}"
             data-ng-style="layout.edges[ edgeId ]">
        </div>

        <!--
        <div class="node edge GHOST"></div>
        -->
        <svg class="links" xmlns="http://www.w3.org/2000/svg" version="1.1">

           <!-- ngClass does not seem to work for SVG, is added by nbeLink -->
           <path data-ng-repeat="(id, link) in view.links"
                 data-nbe-link
                 stroke-linejoin="round"
                 class="link"
                 d="M0 0 L0 0"/>

           <path class="link GHOST" />
        </svg>

     </section>
  </div>

  </body>
  <script type="text/javascript" src="js/lib/require.js"></script>
  <script type="text/javascript">
    require.config( {
      baseUrl: 'js',
      shim: {
        underscore: { exports: '_' },
        angular: { exports: 'angular' },
        "jquery.ui": [ 'jquery' ]
      },
      paths: {
        "jquery": 'lib/jquery2',
        "jquery.ui": 'lib/jquery-ui.core.interactions',
        "underscore": 'lib/underscore',
        "angular": 'lib/angular',
        "text": 'lib/require/text',
        "json": 'lib/require/json',
        "domReady": 'lib/require/domReady'
      },
      deps: [ './start' ]
    } );
  </script>

</html>