@import '../../../scss/nbe_variables';

@include nbeEdgeType( 'nuke-app', 'WIRE', $typeColor1 );
@include nbeEdgeType( 'nuke-app', 'CHANNEL', $typeColor4 );

body {
   background: $gray1;
   font-family: $fontFamilyLabel;
   color: $textColor;
}

a {
   color: $paletteC;
   text-decoration: none;
}


.nuke-app {
   .log {
      position: absolute;
      top: 0;
      right: 20px;
      padding: 10px;
      width: 200px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background: rgba( 0, 0, 0, 0.25 );

      h4 {
         margin: 8px;
      }
      ul {
         margin: 0;
         font-size: $fontSizePort;
      }
   }
}



// Demo specific styles that are not related to nbe:

h2 {
   font-family: $fontFamilyLabel;
   color: $gray5;
}


@include nbeGraphSizes( '100', 1.0 );
@include nbeGraphSizes( '75', 0.75 );
@include nbeGraphSizes( '50', 0.50 );
@include nbeGraphSizes( '25', 0.25 );
@include nbeGraphSizes( '10', 0.10 );

@import '../../../scss/nbe';
