@import '../../../scss/nbe_variables';

@include edgeType( 'logic-app', 'WIRE', $typeColor1 );
@include edgeType( 'logic-app', 'CHANNEL', $typeColor4 );

@include graphSizes( 'zoom-100', 1.0 );
@include graphSizes( 'zoom-75', 0.75 );
@include graphSizes( 'zoom-50', 0.50 );
@include graphSizes( 'zoom-25', 0.25 );
@include graphSizes( 'zoom-10', 0.10 );

.logic-app {

   .log {
      position: absolute;
      top: 0;
      right: 20px;
      padding: 10px;
      width: 200px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background: rgba( 0, 0, 0, 0.25 );

      h4 {
         margin: 8px;
      }
      ul {
         margin: 0;
         font-size: $fontSizePort;
      }
   }
}



// Demo specific styles that are not related to nbe:

h2 {
   font-family: $fontFamilyLabel;
   color: $gray5;
}


