@import '../../../scss/nbe_variables';

@include edgeType( 'logic-app', 'WIRE', $typeColor1 );
@include edgeType( 'logic-app', 'CHANNEL', $typeColor4 );

@include graphSizes( 'zoom-100', 1.0 );
@include graphSizes( 'zoom-75', 0.75 );
@include graphSizes( 'zoom-50', 0.50 );
@include graphSizes( 'zoom-25', 0.25 );

.logic-app {

   .log {
      position: absolute;
      top: 0;
      right: 20px;
      padding: 10px;
      width: 200px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background: rgba( 0, 0, 0, 0.25 );

      h4 {
         margin: 8px;
      }
      ul {
         margin: 0;
         font-size: $fontSizePort;
      }
   }

   .node.vertex.interface {
      background: desaturate( $typeColor2, 20 );
   }

   .node.vertex.component {
      background: desaturate( $typeColor3, 20 );
   }
}



// demo-specific styles that are not directly related to nbe:

h2, h3 {
   font-family: $fontFamilyLabel;
   line-height: 36px;
   margin-top: 36px;
   margin-bottom: 18px;
   color: #444444;
   padding-left: 32px;
   margin-left: -32px;
}

h2 {
   background: #f5c680;
   font-size: 36px;
}

h3 {
   background: #666;
   font-size: 24px;
}

button {
   border: solid 1px black;
   border-radius: 2px;
}

button:focus {
   outline: 1px dotted #666;
}