@import '../../../scss/nbe_variables';
@import '../../../scss/nbe';

@include nbeEdgeType( 'logic-app', 'WIRE', $typeColor1 );
@include nbeEdgeType( 'logic-app', 'CHANNEL', $typeColor4 );

@include nbeGraphSizes( '100', 1.0 );
@include nbeGraphSizes( '75', 0.75 );
@include nbeGraphSizes( '50', 0.50 );
@include nbeGraphSizes( '25', 0.25 );

body {
   background: $gray0;
   font-family: $fontFamilyLabel;
   color: $textColor;
}

a {
   color: $paletteC;
   text-decoration: none;
}

.logic-app {

   .log {
      position: absolute;
      top: 0;
      right: 20px;
      padding: 10px;
      width: 200px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background: rgba( 0, 0, 0, 0.25 );

      h4 {
         margin: 8px;
      }
      ul {
         margin: 0;
         font-size: $fontSizePort;
      }
   }

   .nbe-node.nbe-vertex.monitoring {
      background: $gray4;
   }

   .nbe-node.nbe-vertex.interface {
      background: desaturate( $typeColor2, 10 );
   }

   .nbe-node.nbe-vertex.component {
      background: desaturate( $typeColor3, 10 );
   }
}


// demo-specific styles that are not directly related to nbe:

h2, h3 {
   font-family: $fontFamilyLabel;
   line-height: 36px;
   margin-top: 36px;
   margin-bottom: 18px;
   color: #444444;
   padding-left: 32px;
   margin-left: -32px;
}

h2 {
   background: #f5c680;
   font-size: 36px;
}

h3 {
   background: #666;
   font-size: 24px;
}

button {
   border: solid 1px black;
   border-radius: 2px;
}

button:focus {
   outline: 1px dotted #666;
}