@import '../nbe_variables';

@include edgeType( 'logic-app', 'WIRE', $typeColor1 );
@include edgeType( 'logic-app', 'CHANNEL', $typeColor4 );

.logic-app {
   .log {
      position: absolute;
      top: 0;
      right: 20px;
      padding: 10px;
      width: 200px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background: rgba( 0, 0, 0, 0.25 );

      h4 {
         margin: 8px;
      }
      ul {
         margin: 0;
         font-size: $fontSizePort;
      }
   }
}