<div data-ng-style="{ left: layout.vertices[ vertexId ].left + 'px',
                      top: layout.vertices[ vertexId ].top + 'px' }"
     data-ng-click="handleVertexClick( $event )"
     data-ng-class="{ selected: selection.vertices[ vertexId ] }"
     class="node vertex">
   <div class="header">{{ vertex.label }}</div>
   <div class="port-group">
      <div class="ports in">
         <div data-ng-repeat="port in vertex.ports | nbeInputPorts"
              data-nbe-port="{{ port.id }}"
              data-nbe-port-group="in"></div>
      </div>
      <div class="ports out">
         <div data-ng-repeat="port in vertex.ports | nbeOutputPorts"
              data-nbe-port-group="out"
              data-nbe-port="{{ port.id }}"></div>
      </div>
   </div>
</div>
