<div data-ng-style="{ position: 'absolute',
                      visibility: layout.vertices[ vertexId ] ? 'visible' : 'hidden',
                      left: (layout.vertices[ vertexId ].left * view.zoom.factor) + 'px',
                      top: (layout.vertices[ vertexId ].top * view.zoom.factor) + 'px' }"
     data-ng-click="handleVertexClick( $event )"
     data-ng-class="{ 'selected': view.selection.vertices[ vertexId ], 'zoom-100': vertex.over }"
     class="node vertex {{vertex.classes}}">
   <div class="header">{{ vertex.label }}</div>
   <div class="port-group">
      <div class="ports inbound">
         <div data-ng-repeat="port in vertex.ports.inbound track by port.id"
              class="port"
              data-ng-class="port.type"
              data-nbe-port="{{ port.id }}"
              data-nbe-port-direction="inbound"><i></i>{{ port.label || port.id }}</div>
      </div>
      <div class="ports outbound">
         <div data-ng-repeat="port in vertex.ports.outbound track by port.id"
              class="port"
              data-ng-class="port.type"
              data-nbe-port="{{ port.id }}"
              data-nbe-port-direction="outbound">{{ port.label || port.id }}<i></i></div>
      </div>
   </div>
</div>
