/**
 * Use this to declare user-defined edge types.
 */
/* line 64, ../../sass/_nbe_variables.scss */
.graph.laxar-app .port.FLAG > i {
  background: #c3669c;
}
/* line 69, ../../sass/_nbe_variables.scss */
.graph.laxar-app .node.edge.FLAG {
  background: -moz-linear-gradient(left top, #c3669c 0%, #8c3768 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c3669c), color-stop(100%, #67294d));
}
/* line 75, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.FLAG {
  stroke: #c3669c;
}
/* line 77, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.FLAG.selected {
  stroke: #e0afcb;
}
/* line 85, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-FLAG .port:not(.FLAG) > i,
.graph.laxar-app.highlight-FLAG .node.edge:not(.FLAG) {
  background: #646464;
}
/* line 88, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-FLAG .link:not(.FLAG) {
  stroke: #646464;
}
/* line 95, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-FLAG .link.FLAG {
  display: none;
}
/* line 98, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-FLAG .port.FLAG {
  display: none;
}
/* line 101, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-FLAG .edge.FLAG {
  display: none;
}

/* line 64, ../../sass/_nbe_variables.scss */
.graph.laxar-app .port.ACTION > i {
  background: #c2e578;
}
/* line 69, ../../sass/_nbe_variables.scss */
.graph.laxar-app .node.edge.ACTION {
  background: -moz-linear-gradient(left top, #c2e578 0%, #99cf28 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c2e578), color-stop(100%, #7aa420));
}
/* line 75, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.ACTION {
  stroke: #c2e578;
}
/* line 77, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.ACTION.selected {
  stroke: #e9f5ce;
}
/* line 85, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-ACTION .port:not(.ACTION) > i,
.graph.laxar-app.highlight-ACTION .node.edge:not(.ACTION) {
  background: #646464;
}
/* line 88, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-ACTION .link:not(.ACTION) {
  stroke: #646464;
}
/* line 95, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-ACTION .link.ACTION {
  display: none;
}
/* line 98, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-ACTION .port.ACTION {
  display: none;
}
/* line 101, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-ACTION .edge.ACTION {
  display: none;
}

/* line 64, ../../sass/_nbe_variables.scss */
.graph.laxar-app .port.RESOURCE > i {
  background: #626ca8;
}
/* line 69, ../../sass/_nbe_variables.scss */
.graph.laxar-app .node.edge.RESOURCE {
  background: -moz-linear-gradient(left top, #626ca8 0%, #3a416a 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #626ca8), color-stop(100%, #282d49));
}
/* line 75, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.RESOURCE {
  stroke: #626ca8;
}
/* line 77, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.RESOURCE.selected {
  stroke: #a4a9cc;
}
/* line 85, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-RESOURCE .port:not(.RESOURCE) > i,
.graph.laxar-app.highlight-RESOURCE .node.edge:not(.RESOURCE) {
  background: #646464;
}
/* line 88, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-RESOURCE .link:not(.RESOURCE) {
  stroke: #646464;
}
/* line 95, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-RESOURCE .link.RESOURCE {
  display: none;
}
/* line 98, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-RESOURCE .port.RESOURCE {
  display: none;
}
/* line 101, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-RESOURCE .edge.RESOURCE {
  display: none;
}

/* line 64, ../../sass/_nbe_variables.scss */
.graph.laxar-app .port.CONTAINER > i {
  background: #f5c680;
}
/* line 69, ../../sass/_nbe_variables.scss */
.graph.laxar-app .node.edge.CONTAINER {
  background: -moz-linear-gradient(left top, #f5c680 0%, #ee9c21 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f5c680), color-stop(100%, #cc8010));
}
/* line 75, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.CONTAINER {
  stroke: #f5c680;
}
/* line 77, ../../sass/_nbe_variables.scss */
.graph.laxar-app .link.CONTAINER.selected {
  stroke: #fcf0df;
}
/* line 85, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-CONTAINER .port:not(.CONTAINER) > i,
.graph.laxar-app.highlight-CONTAINER .node.edge:not(.CONTAINER) {
  background: #646464;
}
/* line 88, ../../sass/_nbe_variables.scss */
.graph.laxar-app.highlight-CONTAINER .link:not(.CONTAINER) {
  stroke: #646464;
}
/* line 95, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-CONTAINER .link.CONTAINER {
  display: none;
}
/* line 98, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-CONTAINER .port.CONTAINER {
  display: none;
}
/* line 101, ../../sass/_nbe_variables.scss */
.graph.laxar-app.hide-CONTAINER .edge.CONTAINER {
  display: none;
}
